@font-face {
    font-family: SF Dih;
    src: url("./InterVar.ttf");
}
@font-face {
    font-family: SF Symbols;
    src: url('./OpenRunde-Regular.woff2');
}
*{
    font-family: inherit;
}
sign{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px);
    flex-direction: column;
    -webkit-backdrop-filter: blur(3px);
    align-items: center;
    left: 0;
    background-color: rgba(211, 211, 211, 0.199);
}
[def=signinin]{
    padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #00000024;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  font-family: inherit;
  transition: 0.2s;
  background-color: transparent;
  font-size: 15px;
}
[def=signinin]:focus{
  background-color:#0000000c;
  border: 1px solid #00000018;

}
wrapperR{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 5px;
}
[def="signbu"] {
  background-color: #ececec;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
sign-fr{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    padding: 20px ;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.068);
} 
[flipped]{
    transform: rotateY(180deg);
}
[face="back"]{
    transform: rotateY(180deg);
}
inner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
}
sys-msg{
  word-break: break-all;
  width: 90%;
  max-height: 80px;
  scrollbar-width: thin;
}
flip{
    width: 284px;
    display: block;
    height: 300px;
    perspective: 1000px;
}
sign-fra{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    flex-direction: column;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.068);
}
[i=error]{
display: flex;
  background: linear-gradient(180deg,#e75f1f,#da4106);
  border-radius: 50px;
  content: 'x';
  font-weight: lighter;
  font-family: SF Symbols;
  width: 38px;
  color: white;
  height: 38px;
  font-size: 42px;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  line-height: 79%;
}
row{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    padding-top: 15px;
    gap: 10px;
}
dialcon{
    background-color: #efefef;
    padding: 3px 0px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}
dialcon button{
    background-color: #fdfdfd;
    margin-right: 10px;
    border: 1px solid #e3dfdc;
    border-radius: 5px;
    padding: 2px 25px;
}
dialcon button:hover{
    background-color: #f0f8ff;
    border:1px solid #b9d7ef;
}
dialcon button:active{
    background-color: #e0f1ff;;
    border:1px solid #a4d1f4;
}
notification{
  display: flex;
  width: 417px;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 10px #00000030;
  -moz-box-shadow:0px 0px 10px #00000030;
  -webkit-box-shadow:0px 0px 10px #00000030;
  overflow: hidden;
  border-radius: 9px;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  min-height: 99px;
  padding: 0;
  justify-content: flex-end;
  animation: scale-in 0.3s 1 ;
}
label::selection{
    background:transparent;
    color: inherit;
}
seperator{
    width: 100%;
    height: 1px;
    margin: 10px 0px 0px 5px;
    background-color: #dcdcdd;
    border-radius: 50px;
}
@keyframes scale-in{
    from{
        transform: scale(0.99);
    }
    to{
        transform: scale(1);
    }
}
notify{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
[button=google]{
  width: 100%;
  background: #eceef0;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: 0.2s;
  display: flex;
  color: #1F1F1F;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
[button=google]:hover{
  background: #e3e3e6;
}
[button=google]:active{
  background: #dcdcdd;
}
[def=centrlef]{
  padding: 0;
  margin: 0;
  width: 98%;
}
[button=google] svg{
    width: 23px;
}
[si="infoin"]{
    display: none !important;
}
label{
    height: 100%;
    display: flex;
    height: 30px;
    position: relative;
}
[opt]{
    display: none;
    z-index: +6;
    position: relative;
}
[label=dih]{
    transition: 0.2s;
    height: 100%;
    background-color: #cccccc2c;
    z-index: +6;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
signnav{
    display: flex;
    padding: 2px;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 1px solid #00000024;
    overflow: hidden;
}
bg{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    top: 0;
    left: 0;
    border-radius: 50px;
    filter: blur(10px);
    transform: scale(1.2);
    z-index: 0;
    position: absolute;
}
label:nth-child(1) bg{
    right: 0;
}
label:nth-child(2) bg{
    left: 0;
}
[opt]:checked + bg{
    background: #0000002e;
    filter: none;
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*ins-sf a/33886064*/

html,body{
    font-family: SF Dih,Inter,Arial, Helvetica,sans-serif;
}
